.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader .loader-inner {
    width: 80px;
    height: 80px;
    border: 2rem solid #FBAF85;
    border-radius: 50%;
    scale: 1.4;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes spin {
    0% {
        scale: 1.4
    }

    40% {
        scale: 1;
    }
}