.cancel {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 100;
    text-align: center;
}


.cancel .covering {
    background: white;
    width: 400px;
    height: 400px;
    color: #d87d4a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 10%;
}

.cancel .covering p {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.cancel .covering button {
    padding: 1.5rem;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #d87d4a;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.cancel .covering button:hover {
    background: hsl(22, 94%, 54%);

}


@media(max-width:950px) {

    .cancel .covering {
        background: white;
        margin-top: 30%;
    }
}


@media(max-width:750px) {
    .cancel .covering {
        height: 400px;
        width: 250px;
        padding: 2rem;
    }
}


@media(max-width:300px) {
    .cancel .covering {
        height: 400px;
        width: 200px;
    }
}